@import "./components/contacto";
@import "./components/about-us";
@import "./components/home";
@import "./components/nuestros-trabajos";
@import "./components/proveedores";
@import "./base/variables";

*{
    margin: 0;
    padding: 0;
    margin-top: 0;
    padding-bottom: 0;
}


.fondo{
    background-image: url(../Images/Contenido/fondo3.jpg);
}

.logovar {
    width: 35vw;
    border-radius: 4px;
    display: flex;
    
}

.header {
    display: block;
}

.navbar-nav{
    margin-left: auto;

}

.container__footer{
    width: auto;
}