/* Nav Bar */




/* Index */

.container_main {
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;

}

.container_main img{
    padding-bottom: none;
}

.text {
    text-align: center;
    color: rgb(194, 195, 196);
}


